$blue-900: #122276;
$blue-600: #314de5;
$pink-500: #ffc0eb;
$teal-500: #7cd6dd;
$yellow-600: #edbe5a;
$orange-700: #e66c3d;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@keyframes moveRandomly {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(50px, 100px) rotate(72deg);
    }

    50% {
        transform: translate(100px, 0px) rotate(144deg);
    }

    75% {
        transform: translate(50px, 100px) rotate(216deg);
    }

    100% {
        transform: translate(0, 0) rotate(360deg);
    }
}

@mixin ui_transform_animation {
    transform: rotateY(-20deg) rotateX(20deg);
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}


section.banner {
    background-color: $blue-900;
    overflow: hidden;
    position: relative;

    .background {
        width: 100%;
        height: 100vh;
        position: relative;
        filter: blur(100px);

        .color1 {
            width: 35%;
            aspect-ratio: 1/1;
            position: absolute;
            top: 10rem;
            left: 10rem;
            z-index: 1;
            animation: moveRandomly 15s infinite alternate;
        }

        .color2 {
            width: 50%;
            aspect-ratio: 1/1;
            position: absolute;
            bottom: 10rem;
            right: 10rem;
            z-index: 1;
            animation: moveRandomly 25s infinite alternate;
        }
    }

    .shapes_wrapper {
        width: 100%;

        .border {
            position: absolute;
            left: 0;
            bottom: -8rem;
            z-index: 2;
            width: 100%;
        }

        .shape_wrapper {
            position: absolute;
            aspect-ratio: 1/1;
            z-index: 3;
            width: 5rem;
            &.shape_wrapper--1 {
                top: 27%;
                right: 18%;
                transform: rotate(230deg) scale(1);
                fill: $pink-500;
            }
    
            &.shape_wrapper--2 {
                top: 7%;
                left: 11%;
                transform: scale(1);
                fill: $teal-500;
            }
    
            &.shape_wrapper--3 {
                top: 63%;
                left: 51%;
                transform: rotate(-28deg) scale(0.8);
                fill: #e66c3d;
            }
        }


        .circle {
            position: absolute;
            aspect-ratio: 1/1;
            border-radius: 50%;
            z-index: 4;

            &.circle1 {
                width: 2rem;
                top: 10%;
                left: 5%;
                background-color: $orange-700;
            }

            &.circle2 {
                width: 1rem;
                left: 10%;
                bottom: 30%;
                background-color: $yellow-600;
            }

            &.circle3 {
                width: 2.8rem;
                bottom: 23%;
                right: 20%;
                background-color: $teal-500;
            }

            &.circle4 {
                width: 1rem;
                right: 10%;
                top: 30%;
                background-color: $yellow-600;
            }
        }
    }

    .ui_mockup_wrapper{
        position: absolute;
        top: 5%;
        right: 15%;
        z-index: 5;
        width: 40%;
        aspect-ratio: 1/1;
        // background-color: #fc0000e0;
        // border: 5px solid #fff;
        .mockup1{
            @include ui_transform_animation;
            box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset;
            backdrop-filter: blur(10px);
            position: absolute;
            top: 10%;
            left: 0;
        }

        .mockup2{
            @include ui_transform_animation;
            box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset;
            backdrop-filter: blur(10px);
            position: absolute;
            top: 47%;
            left: 5%;
        }
        
        .mockup3{
            @include ui_transform_animation;
            box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset;
            backdrop-filter: blur(10px);
            position: absolute;
            top: 40%;
            right: 5%;
        }
        
        &:hover{
            .mockup1{
                transform: rotateY(0deg) rotateX(0deg);
            }
            
            .mockup2{
                transform: rotateY(0deg) rotateX(0deg);
                top: 43%;
                left: -13%;
            }
            
            .mockup3{
                transform: rotateY(0deg) rotateX(0deg);
                top: 43%;
                right: -3%;
            }
        }
    }
}

section.services {
    font-family: poppins;
    font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
    section.banner {
        .background {
            .color1 {
                width: 85%;
                top: 0rem;
                left: 5rem;
            }

            .color2 {
                width: 60%;
                bottom: 0rem;
                left: 10rem;
            }
        }
    }
}