:root{
    --banner-background-primary: #122276;
    --banner-background-secondary: #314de5;
    --primary-color: #3b82f6;
    --white-900: #ffffff;
    --white-800: #f5f5f5;
    --white-700: #ebebeb;
    --white-600: #d9d9d9;
    --white-500: #cccccc;
    --white-400: #b3b3b3;
    --white-300: #999999;
    --white-200: #808080;
    --white-100: #666666;
    --pink-500: #ffc0eb;
    --teal-500: #7cd6dd;
    --yellow-600: #edbe5a;
    --orange-700: #e66c3d;
    --text-heading-color: #2D3958;
    --text-body-color: #7B88A8;
    --text-gray-color: #E7E5EA;
    --text-dark-alt-color: #321370;
    --gradient-2: linear-gradient(45deg, #5183ee80 0%, #2d25bd85 100%);
}